/****************** ABOUT ME SECTION **********************/
.about-page {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    min-height: 91vh!important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.about-page-text {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    text-align: justify;
    gap: 1.5rem;
}

.about-page-text > h1{
    color: var(--primary-color);
    font-weight: 800;
    font-size: clamp(1.5rem, 1rem + 1.5vw, 2.5rem);
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
    margin-bottom: 1rem;
    opacity: 0;
}

.about-page-text  h1 span{
    color: var(--text-color);
}

.about-page-text  p{
    font-weight: 300;
    text-align: justify;
    font-size: clamp(0.8rem, 0.3rem + 1vw, 0.9rem);
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.7s + var(--j) * 0.3s);
    opacity: 0;
    margin: 0;
    max-width: 40rem;
}

.about-page-cards-container {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-height: 100%;
    gap: 1.75rem!important;
}

.about-page-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40%!important;
}

.cards-first, .cards-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    padding: 0!important;
}



.cards-first > *:hover, .cards-second > *:hover {
    
    box-shadow: 0 0 30px var(--primary-color);
    border-color: var(--primary-color)!important;
    border-width: 0px;
}

.cards-first:first-child {
    margin-bottom: 1rem;
     animation: floatBottom 1s ease fordwards;

}

.cards-second:last-child {
    margin-top: 1rem;
}

.card-web, .card-data, .card-ai, .card-swe {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 3%!important;
    border-color: var(--background-color)!important;
    opacity: 0;
}

.card-web {
    background-image: url('../images/developing_background.png');
    background-size: contain; 
    background-position: center; 
}

.card-data {
    background-image: url('../images/analytics_background.png');
    background-size: contain; 
    background-position: center; 
}

.card-ai {
    background-image: url('../images/ai_background.png');
    background-size: contain; 
    background-position: center;

}

.card-swe {
    background-image: url('../images/software_background.png');
    background-size: contain; 
    background-position: center;
}

.card-experience-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 1rem;
}

.card-experience-title {
    color: var(--text-color)!important;
    font-size: clamp(0.9rem, 0.9rem + 2vw, 3rem)!important;
    text-align: center;
}

.card-experience-subtitle {
    color: var(--text-color)!important;
    font-size: clamp(0.8rem, 0.1rem + 0.85vw, 1rem)!important;
    text-align: center;
    font-weight: 600!important;
}

.card-experience-text {
    color: var(--text-color)!important;
    font-size: clamp(0.7rem, 0.1rem + 0.75vw, 0.8rem);
    text-overflow: clip;
    font-weight: 300!important;
    text-align: justify;
    margin-top: 1rem;
    padding: 1px!important;
    overflow-wrap: break-word!important; 
}

.card-web {
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(1s + var(--j) * 0.3s);
}

.card-data {
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(1s + var(--j) * 0.3s);
}

.card-ai {
    animation: slideTop 1s ease forwards;
    animation-delay: calc(1s + var(--j) * 0.3s);
}

.card-swe {
    animation: slideRight 1s ease forwards;
    animation-delay: calc(1s + var(--j) * 0.3s);
}

@media (max-width: 992px) { 

    .about-page {
        gap: 2rem;
        flex-direction: column;
    }

    .about-page-text {
        gap: 0;
    }

    .about-page-text  p{
        padding: 1rem;
    }

    .about-page-cards {
        max-width: 100%!important;
        align-items: center;
        justify-content: center;
    }

    .about-page-cards-container {
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
        margin-right: 0;
    }

    .cards-first, .cards-second {
        max-width: 35%!important;
        gap: 1rem;
        margin: 0!important;
        padding: 0%!important;
    
    }

    .card-experience-title {
        font-size: clamp(1rem, 1rem + 3vw, 3rem)!important;
    }
    
    .card-experience-subtitle {
        font-size: clamp(0.6rem, 0.2rem + 1.2vw, 1rem)!important;
    }
    
    .card-experience-text {
        font-size: clamp(0.5rem, 0.1rem + 1.5vw, 0.8rem);
    }

    .about-page-text > h1{
        margin-top: 2rem;
    }
}

@media (max-width: 450px) { 

    

    .card-experience-title {
        font-size: clamp(1rem, 0.8rem + 3vw, 3rem)!important;
    }
    
    .card-experience-subtitle {
        font-size: clamp(0.65rem, 0.3rem + 1.5vw, 1rem)!important;
    }
    
    .card-experience-text {
        font-size: clamp(0.65rem, 0.2rem + 1.5vw, 0.8rem);
        margin-top: 0.15rem;
    }

    .about-page-cards-container {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .cards-first {
        margin-top: 0%;
        min-width: 91%;
        flex-direction: row;
        align-items: end;
    }
    
    .cards-second {
        min-width: 91%;
        flex-direction: row;
        align-items: start;
    }

    .cards-first > *:hover, .cards-second > *:hover {
    
        box-shadow: none;
        border-color: transparent!important;
    }
}


/****************** SKILLS AND EDUCATION SECTION **********************/
.skills-section {
    background-color: var(--alternate-background)!important;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

.skills > h1, .education > h1{
    color: var(--text-color);
    font-weight: 800;
    font-size: clamp(1.5rem, 1rem + 1.5vw, 2.5rem);
    animation: slideLeft 1s ease forwards;
    animation-delay: 2s;
    margin-bottom: 2rem;
    opacity: 0;
}

.skills h1 span, .education h1 span{
    color: var(--primary-color);
}

.skills > h1 {
    margin-top: 2rem;
}

.skill-cards {
    max-width: 90%!important; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(105px, 1fr))!important; 
    gap: 1rem;
    margin: 0;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
    
}

.skill-card {
    aspect-ratio: 1 / 1;
    width: 100%!important;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: #40474F!important;
    border-radius: 7%!important;
    margin: 0px 0px 0px!important;
    margin: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(2s + var(--j) * 0.3s);
}

.skill-card:hover {
    background-color: var(--primary-color)!important;
    box-shadow: 0 0 30px var(--primary-color);
}

.skill-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.skill-card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tech-logo {
    aspect-ratio: 1 / 1;
    height: clamp(1.5rem, 0.5rem + 1.75vw, 2.5rem)!important;
    width: clamp(1.5rem, 0.5rem + 1.75vw, 2.5rem)!important;
}

.skill-card-subtitle {
    color: var(--text-color)!important;
    font-size: clamp(0.7rem, 0.1rem + 0.75vw, 2.5rem)!important;
    text-align: center;
    font-weight: 400!important;
}

.education {
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem!important;
}


/****************** TIMELINE **********************/
.timeline {
    margin-left: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem!important;
}

.timeline-year {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(2s + var(--j) * 0.3s);
}

.timeline-separator {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(2s + var(--j) * 0.3s);
}

.timeline-dot {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(2s + var(--j) * 0.3s);
}

.timeline-title, .timeline-subtitle, .timeline-text {
    font-family: "Be Vietnam Pro", sans-serif!important;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(2s + var(--j) * 0.3s);
}

.timeline-title {
    font-weight: 900;
    font-size: clamp(0.9rem, 0.3rem + 1.7vw, 1.2rem);
    text-align: left;
}

.timeline-subtitle {
    font-weight: 500;
    font-size: clamp(0.8rem, 0.3rem + 1.5vw, 1rem);
    color: var(--primary-color);
    text-align: left;
}

.timeline-subtitle span {
    text-align: right!important;
}

.timeline-text {
    font-weight: 300;
    font-size: clamp(0.7rem, 0.1rem + 1.5vw, 0.7rem);
    text-align: justify;
}

@media (max-width: 1024px) { 
    .skills-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .skills {
            margin-top: 2rem!important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
            min-height: 100%;

            .skill-cards {
                max-width: 95%;
                gap: 1rem;
                min-height: 90%;
                justify-content: center;
                align-items: center;
                margin-left: 0rem!important;

                .skill-card {

                    .skill-card-body {
                        min-width: 100%;
                        padding: 0.5rem;
                    }
                }
            }


        }
    }

    .education {
        margin-left: 0rem;
        margin-bottom: 1rem!important;
        min-width: 100%!important;
        margin-bottom: 3rem;
        height: 100%!important;
        margin-top: 2rem!important;
        justify-content: center;
        align-items: center;

        .timeline {
            max-width: 100%!important;
            padding: 0!important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 0!important;
        }
    }

    .timeline-title, .timeline-subtitle, .timeline-text {
    font-family: "Be Vietnam Pro", sans-serif!important;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(2s + var(--j) * 0.3s);
    }
}


@media (max-width: 450px) { 

    .skills-section {
        max-height: none!important;
        margin: 0!important;
        padding: 0!important;
    }

    .skills {
        margin: 0!important;
        padding: 0!important;
        max-height: fit-content!important;
    }

    .skill-cards {
        max-width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr))!important; /* Creates responsive square cards */
        gap: 0.8rem!important;

        .skill-card {

            .skill-card-body {
                min-width: 100%;
                padding: 0.5rem;
            }
        }
    }

    .education {
        min-width: 100%!important;
        margin-bottom: 3rem;
    }
    
    .timeline {
        min-width: 100%!important;
        padding: 0!important;
    }

    .timeline-title, .timeline-subtitle, .timeline-text {
    font-family: "Be Vietnam Pro", sans-serif!important;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(2s + var(--j) * 0.3s);
}

    .timeline-title, .timeline-subtitle, .timeline-text {
        max-width: 100%!important;
    }
}

/****************** PROJECT SECTION  **********************/

.projects-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.projects-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh!important;
    gap: 1.5rem;
    max-width: 60%;
}

.projects-header > h1, p {
    text-align: center;
}

.projects-header > h1{
    color: var(--primary-color);
    font-weight: 800;
    font-size: clamp(1.5rem, 1rem + 1.5vw, 2.5rem);
    animation: slideLeft 1s ease forwards;
    animation-delay: 2s;
    opacity: 0;
    margin-top: 4rem;
}

.projects-header > h1 span{
    color: var(--text-color);
}

.projects-header > p{
    font-weight: 300;
    font-size: clamp(0.8rem, 0.3rem + 1vw, 0.9rem)!important;
    text-align: justify;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr))!important; 
    align-items: center;
    justify-content: center;
    gap: 2rem!important;
    max-width: 85%;
}

.project-card {
    width: 15rem!important;
    height: 15rem!important;
    padding: 0!important;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    background-color: #40474F!important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-color: var(--background-color)!important;
    text-decoration: none!important;
    border-radius: 2%;
    margin: 0!important;
    padding: 0!important;
}

.project-card:hover {
    box-shadow: 0 0 30px var(--primary-color);

    .project-card-header {
        height: 100%!important;
        animation: slideTopCard 1s ease forwards;
        border-radius: 2%;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .project-card-title {
        color: var(--primary-color)!important;
        text-align: center;
        animation: slideRight 1s ease forwards;
    }

    .project-card-text {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        animation: slideRight 1s ease forwards;
        white-space: normal; /* Allow text to wrap */
        overflow: visible; /* Show overflow */
        text-overflow: clip; /* Remove ellipsis */
    }

    .project-button{
        animation: zoomIn 1s ease forwards;
        animation-delay: 0.5s;
    }
}

.project-card:not(:hover) {
    .project-card-header {
        animation: slideBottomCard 1s ease forwards;
        height: 100%;
    }

    .project-card-title {
        animation: slideLeft 1s ease forwards;
    }

    .project-card-text {
        animation: slideLeft 1s ease forwards;
    
    }

    .project-button{
        display: none;
        animation: slideLeft 1s ease forwards;
    }
}

.project-card-body {
    height: 100%!important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.project-card-header {
    display: flex;
    flex-direction: column;
    background-color: rgba(64, 71, 79, 0.85)!important; 
    padding: 12px;
    gap:1px!important;
}

.project-card-title {
    color: var(--primary-color)!important;
    font-weight: 800!important;
    text-decoration: none!important;
    font-size: 1.1rem;
}

.project-card-text {
    color: var(--text-color)!important;
    font-weight: 300!important;
    font-size: 0.9rem;
    text-decoration: none!important;
    font-size: 0.7rem;
    text-align: justify;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
    transition: max-height 0.3s ease; /* Smooth transition */
}

.project-button{
    color: var(--text-color)!important;
    font-weight: 600!important;
    font-size: 0.8rem!important;
    width: 7rem!important;
    background-color: var(--primary-color)!important;
    border-color:  var(--primary-color)!important;
    opacity: 0;
}

.project-button:hover{
    box-shadow: 0 0 30px var(--primary-color);
}

.resume-button {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    max-width: 60%;
    margin-bottom: 3rem;
}

.resume-button p {
    font-weight: 300;
    font-size: clamp(0.8rem, 0.3rem + 1vw, 0.9rem)!important;
    text-align: justify;
}

@media (max-width: 1024px) { 

    .projects-section {
        max-width: 100%!important;
        padding: 1rem;
    }

    .resume-button, .projects-header {
        max-width: 100%!important;
    }

    .project-card:hover {
        box-shadow: 0 0 30px var(--primary-color);
    
        .project-card-header {
            height: 100%!important;
            animation: slideTopCard 1s ease forwards!important;
            border-radius: 2%;
            justify-content: center;
            align-items: center;
            padding: 2rem;
        }
    
        .project-card-title {
            color: var(--primary-color)!important;
            text-align: center;
            animation: slideRight 1s ease forwards!important;
        }
    
        .project-card-text {
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-align: center;
            animation: slideRight 1s ease forwards!important;
            white-space: normal; /* Allow text to wrap */
            overflow: visible; /* Show overflow */
            text-overflow: clip; /* Remove ellipsis */
        }
    
        .project-button{
            animation: zoomIn 1s ease forwards!important;
            animation-delay: 0.5s;
        }
    }
    
    .project-card:not(:hover) {
        .project-card-header {
            animation: slideBottomCard 1s ease forwards!important;
            height: 100%;
        }
    
        .project-card-title {
            animation: slideLeft 1s ease forwards!important;
        }
    
        .project-card-text {
            animation: slideLeft 1s ease forwards!important;
        
        }
    
        .project-button{
            display: none;
            animation: slideLeft 1s ease forwards!important;
        }
    }

    .project-card-title {
        text-align: justify!important;
    }
}