.contact-page {
    min-height: 89vh!important;
    width: 100%;
    display: grid!important;
    gap: 4rem;
    grid-template-columns: 
        repeat(auto-fit, minmax(350px, 1fr))!important;
    align-items: center!important;
    justify-content: center!important;
    margin-top: 2vh!important;
}

.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0!important;
    padding: 1rem!important;
    gap: 1.5rem!important;

    .contact-description {
        display: flex;
        flex-direction: column;
        gap: 1rem!important;
        text-align: justify!important;

        h1 {
            font-weight: 800!important;
            font-size: clamp(1.5rem, 1rem + 1.5vw, 2.5rem)!important;
            animation: slideBottom 1s ease forwards;
            animation-delay: 1.1s!important;
            opacity: 0;

            span {
                color: var(--primary-color)!important;
            }
        }

        p {
            text-align: justify!important;
            font-weight: 300!important;
            font-size: clamp(0.8rem, 0.3rem + 1vw, 0.9rem)!important;
            animation: slideRight 1s ease forwards!important;
            animation-delay: 1.3s!important;
            opacity: 0;
        }
    }

    .separator {
        border: 0!important;
        height: 2px!important; 
        background-color: var(--alternate-background)!important; 
        width: 100%!important;
        animation: slideLeft 1s ease forwards!important;
        animation-delay: 1.5s!important;
        opacity: 0;
    }

    .contact-social-media {
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        min-width: 100%!important;
        gap: 1rem!important;

        h3 {
            text-align: justify;
            font-weight: 800!important;
            animation: slideTop 1s ease forwards!important;
            animation-delay: 1.7s!important;
            opacity: 0;
        }

        .contact-social-media-buttons {
            display: flex!important;
            flex-direction: row!important;
            justify-content: flex-start;
            gap: 3rem!important;
            margin: 0!important;
        }

        a {
            display: inline-flex;
            width: 2.7rem!important;
            height: 2.7rem!important;
            background: transparent!important;
            border: 2px solid var(--primary-color)!important;
            border-radius: 50%!important;
            font-size: 1.9rem!important;
            color: var(--primary-color)!important;
            text-decoration: none!important;
            justify-content: center!important;
            align-items: center!important;
            animation: slideBottom 1s ease forwards!important;
            animation-delay: calc(1.5s + var(--j) * 0.2s)!important;
            opacity: 0;
        }

        a:hover {
            background-color: var(--primary-color)!important;
            color: var(--text-color)!important;
            box-shadow: 0 0 20px var(--primary-color)!important;
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 

    .contact-page {
        align-items: center!important;
        min-width: 100%!important;
        margin: 0!important;
        gap: 2rem!important;
    }

    .contact-text {
        margin-top: 3rem!important;
        align-items: center!important;
        margin-right: 1rem;
        margin-left: 1rem;
        gap: 0.5rem!important;
    }
    h1, h3 {
        text-align: center!important;
        animation:  fadeIn 4s ease forwards!important;
        animation-delay: 1.1s!important;
        opacity: 0;
    }

    p {
        max-width: 50rem!important;
        animation:  fadeIn 4s ease forwards!important;
        animation-delay: 1.3s!important;
    }

    .separator {
        animation:  fadeIn 4s ease forwards!important;
        animation-delay: 1.5s!important;
    }

    .contact-social-media-buttons {
        justify-content: center!important;
        gap: 3.5rem!important;
    }
}

.contact-formulaire {
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: end;
    margin: 0!important;
}

.formulaire {
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
    max-width: 90%;
    min-width: 20rem!important;
    border-radius: 2%;
    padding: 2rem;
    width: 100%!important;

    form {
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
        justify-content: center!important;
        width: 80%!important;
    }
}

.formulaire {
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    width: 100% !important;
    padding: 0!important;
    border-radius: 2%!important;
    animation:  zoomIn 2s ease forwards!important;
    animation-delay: 1.7s!important;
    opacity: 0;
    

    * {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .form-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        * {
            justify-content: start;
            align-items: start;
        }
    }

    .form-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;

        * {
            min-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
    }

    input {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .textfield-first {
        border: none!important;
        border-bottom: 2px solid var(--text-color)!important;
        background-color: var(--background-color) !important;
        border-radius: 0!important;
        padding: 0!important;
        box-sizing: border-box!important;
        gap:2rem;
    }

    .textfield-second, .textfield-second-message {
        min-width: 100%!important;
        border: none!important;
        border-bottom: 2px solid var(--text-color)!important;
        background-color: var(--background-color) !important;
        border-radius: 0!important;
        padding: 0!important;
        box-sizing: border-box!important; /* Include padding and border in element's total width and height */
    }

    .formulaire label {
        color: var(--text-color)!important;
        font-size: 0.9rem!important;
    }

    .form-text { /* Helper texts */
        font-size: 12px!important;
        color: var(--background-color);
    }

    .form-control { /* Text Field Text*/
        color: var(--text-color)!important; 
        font-size: 0.9rem!important;
        border-bottom: 2px solid var(--text-color)!important;
        border-radius: 0!important;
    }

    .textfield-second-message {
        margin-top: 1.5rem!important;
    }

    .is-invalid {

        ~ .form-control {
            border-bottom: 2px solid #dc3545!important;
            color: #dc3545!important;
        }
    }

    .form-control:focus {
        outline: none!important; 
        background-color: var(--background-color)!important;
        box-shadow: none!important;
        border-color: var(--primary-color)!important;
    }

    .form-floating  {
        .form-control:focus {
            outline: none !important; 
            color: var(--text-color)!important; 
            box-shadow: none !important;
            border-color: var(--primary-color)!important;
            font-weight: 300!important;

            ~ label {
                color: var(--primary-color)!important; 
                font-weight: bold!important;
                background: none!important;
            }
        }

        label {
            background: none!important;
            color: var(--text-color)!important; 
            font-size: 0.9rem!important;
            padding: 0 0.2rem!important;
            transition: all 0.2s ease!important;
            font-weight: bold!important;
        }

        label::after {
            background-color: rgba(0,0,0,0)!important;
            color: var(--text-color)!important;
        }

        .form-control.is-invalid ~ label {
            color: #dc3545!important; /* Red color for invalid input */
        }
    }

    .submit-button{
        width: 100%!important;
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .btn-primary {
        color: var(--text-color)!important;
        font-size: 1rem!important;
        width: 9rem!important;
        background-color: var(--primary-color)!important;
        border-color:  var(--primary-color)!important;
        margin-bottom: 2rem!important;
        margin-top: 1rem!important;
    }

    .btn-primary:hover{
        background-color: var(--primary-color)!important;
        color: var(--text-color)!important;
        box-shadow: 0 0 20px var(--primary-color)!important;
    }

    .form-control:-webkit-autofill {
        background-color: var(--background-color) !important;
        color: var(--text-color) !important;
        box-shadow:none!important;
    }

}

.form-row {
    display: flex!important;
    gap: 1rem; /* Space between fields */
    width: 100%; /* Responsive width */
    max-width: 100%; /* Max width to ensure responsiveness */
}

@media (max-width: 992px) { 

    .contact-formulaire {
        align-items: center;
    }
    .formulaire {
        margin-top: 2rem!important;
        padding: 0.5rem!important;
        width: 100%!important;
        animation:  fadeIn 4s ease forwards!important;
        animation-delay: 1.7s!important;
    }

    .contact-formulaire {
        width: 100%!important;
    }
}
