.footer {
    min-height: 15rem!important;
    max-width: 100%;
    background-color: var(--alternate-background);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    .top-footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        gap: 2rem;
        flex-wrap: wrap;
        
        .navbar-description {
            display: flex;
            flex-direction: column;
            align-items: start;
            max-width: 35%;

        * {
            text-align: justify;
        }

            .footer-title {
                font-family: "Monoton", sans-serif!important;
                font-weight: 400!important;
                font-style: normal!important;
                font-size: clamp(1.8rem, 1rem + 1.5vw, 2.5rem);
                background-image: linear-gradient(
                    -45deg,
                    #ffb3ba,
                    #c49c6e,
                    #bfbf76,
                    #77b084,
                    #ff7e74,
                    #3b82f6,
                    #c084fc,
                    #db2777,
                    #c084fc,
                    #3b82f6,
                    #ff7e74,
                    #77b084,
                    #bfbf76,
                    #c49c6e,
                    #ffb3ba
                   );
                background-size: 500% 500%;
                animation: gradientAnimation 12s linear infinite;
                background-clip: text;
                color: transparent;
                min-width: fit-content;
            }

            .footer-email {
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                i {
                    font-size: clamp(1.5rem, 0.1rem + 1.4vw, 2rem)!important;
                    max-width: fit-content;
                }
                p {
                    max-width: fit-content!important;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .footer-media {
            max-width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            flex-wrap: nowrap;

            .navbar-links {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 0.5rem;
                margin: 0%;
                min-width: 11rem;
    
                .footer-subtitle {
                    font-weight: 500;
                    font-size: clamp(1rem, 0.1rem + 1.4vw, 1.3rem)!important;
                    width: 100%;
                }
    
    
                .navbar-socials {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    gap: 1.5rem;
                    width: 100%;
                    margin: 0%;
    
                    a {
                        display: inline-flex;
                        width: 2.3rem;
                        height: 2.3rem;
                        background: transparent;
                        border: 2px solid var(--text-color);
                        border-radius: 50%;
                        font-size: 1.5rem;
                        color: var(--text-color);
                        text-decoration: none;
                        justify-content: center;
                        align-items: center;
                        animation: slideBottom 1s ease forwards;
                        animation-delay: calc(1.5s + var(--j) * 0.2s);
                        opacity: 0
                    }
                    
                    a:hover {
                        background-color: var(--text-color);
                        color: var(--primary-color);
                        box-shadow: 0 0 20px var(--text-color);
                        border: 2px solid var(--text-color);
                    }
                }
            }
        }

        

        .footer-title, .footer-subtitle {
            margin-bottom: 1.5rem;
        }
    }

    .bottom-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .separator {
            border: 0!important;
            height: 1px!important; 
            background-color: var(--text-color)!important; 
            max-width: 90%;
            padding: 0rem;
            margin: 2.5rem;
        }
    }

    .footer-text, .footer-link {
        font-weight: 200;
        color: var(--text-color);
        text-decoration: none;
        font-size: clamp(0.8rem, 0.3rem + 1vw, 0.9rem);
        align-items: center;
        justify-content: center;

    }
}

@media (max-width: 1024px) { 

    .footer-title {
        margin-top: 2rem;
        animation: gradientAnimation 12s linear infinite!important;
        opacity: 1;
    }
    .top-footer {
        flex-direction: column;

        .navbar-description {
            min-width: 90%;
        }

        .footer-media {
            min-width: 90%;
            gap: 2rem;
            flex-wrap: wrap;

            .navbar-links {
                padding: 0;
            }
        }
    }

}

@media (max-width: 800px) { 

    .footer {
        padding: 1.5rem;
    }
    .footer-media {
        flex-direction: column!important;
        align-items: center;
        gap: 3rem!important;

        .navbar-links {
            max-width: 10rem;
        }
    }

    .footer-title, .footer-subtitle {
        margin-bottom: 1rem!important;
    }

    .separator {
        max-width: 70%!important;
    }

}