.home-page {
    min-height: 89vh!important;
}

.profile-info {
    min-width: 55%!important;
    margin-bottom: 3rem;
}

.profile-info-text {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile-info-text > h1{
    font-weight: 800;
    font-size: clamp(1.5rem, 1rem + 2.5vw, 2.7rem)!important;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
    margin-bottom: 0.5rem;
    opacity: 0;
}

.profile-info-text > h3{
    font-weight: 600;
    font-size: clamp(1.2rem, 0.5rem + 1.2vw, 1.6rem)!important;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    opacity: 0;
}

.profile-info-text  h3:nth-of-type(2){
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.profile-info-text  h3 span{
    font-weight: 600;
    color: var(--primary-color);
    font-size: 1.5rem;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.profile-info-text > p{
    font-weight: 300;
    text-align: justify;
    margin-top: 1.5rem;
    font-size: clamp(0.8rem, 0.3rem + 1vw, 1rem)!important;
    margin-bottom: 2rem;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
    opacity: 0;
}

.contact-buttons {
    gap: 2rem;
}

.contact-button-l{
    color: var(--text-color)!important;
    font-size: 1rem!important;
    width: 9rem!important;
    margin-left: 0.5rem;
    background-color: var(--primary-color)!important;
    border-color:  var(--primary-color)!important;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.1s;
    opacity: 0;
}

.contact-button-l:hover{
    background-color: var(--primary-color)!important;
    color: var(--text-color)!important;
    box-shadow: 0 0 20px var(--primary-color);
}

.contact-button-g{
    width: 9rem!important;
    color: var(--primary-color)!important;
    font-size: 1rem!important;
    border-color:  var(--primary-color)!important;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.4s;
    opacity: 0;
}

.contact-button-g:hover{
    background-color: var(--primary-color)!important;
    color: var(--text-color)!important;
    box-shadow: 0 0 20px var(--primary-color);
}

.social-media {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.social-media-row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    max-width: 100%;
    margin-bottom: 2em;
    margin-left: 0rem!important;
}

.social-media-row  a {
    display: inline-flex;
    width: 2.7rem;
    height: 2.7rem;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    font-size: 1.9rem;
    color: var(--primary-color);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(1.5s + var(--j) * 0.2s);
    opacity: 0
}

.social-media-row a:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--primary-color);
}

.profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picture img {
    width: 25rem;
    height: 25rem;
    transition: 1s;
    animation: fadeIn 4s ease forwards, floatBottom 4s ease-in-out infinite;
    animation-delay: 1.8s, 2.3s;
    opacity: 0;
  }

/******************************* MEDIA QUERIES *****************************/
/* Extra small devices (phones, less than 576px) */
@media (max-width: 1024px) { 
    .home-page {
        min-height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 1rem!important;
    }
    .picture img {
        width: 35vw;
        height: 35vw;
        margin-top: 3rem;
      }

      .profile-info-text {
        margin-top: 2rem;
        justify-content: space-between;
    }

      .profile-info-text > h1{
        font-weight: 800;
    }

    .profile-info-text > p{
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .contact-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-buttons > * {
        margin-left: 0;
    }

    .social-media {
        justify-content: flex-end;
        align-items: center;
        margin-top: 3rem;
        min-width: 100%!important;
    }
    
    .social-media-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        min-width: 100%;
        margin: 0;
        margin-bottom: 1.5rem;
    }
}


@media (max-width: 450px) { 

    .home-page {
        padding: 2rem!important;
    }

    .picture img {
        width: 60vw!important;
        height: 60vw!important;
        margin-top: 3rem;
      }
}