.project-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 91vh!important;
    padding: 1rem;
    gap: 2rem;
}

.project-images {
    max-width: 40vw!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;

    .project-carousel, img {
        min-width: 100%;
        max-height: 21vw!important;
        border-radius: 2%;
    }

    img {
        object-fit: cover;
    }

    p {
        font-weight: 300;
        font-size: clamp(0.8rem, 0.3rem + 1vw, 0.9rem);
        text-align: justify!important;
        margin-bottom: 0;
        min-width: 100%;

        a {
            color: var(--primary-color)!important;
        }
    }

    .project-github {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        gap: 3vw;

        * {
            max-width: fit-content;
        }
    }
}

.separator {
    height: 1px!important; 
    background-color: var(--alternate-background)!important; 
    min-width: 95%;
    padding: 0rem;
    opacity: 0.4!important;
    padding-top: 0.5rem;
}

.project-data {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1em;
    max-width: 45%!important;

    ul {
        
        color: var(--primary-color);
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin: 0;
    }
}

.project-data > h1, .project-data > h3, .project-data > p {
    text-align: justify;
}

.project-data {

    h1 {
        font-weight: 800;
        color: var(--primary-color);
        font-size: clamp(1.5rem, 1rem + 1.5vw, 2.5rem);
    }
    p {
        font-weight: 300;
        font-size: clamp(0.8rem, 0.3rem + 1vw, 0.9rem);
    }
}

.project-tags {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

    span {
        background-color: var(--primary-color)!important;
    }

    h5 {
        width: fit-content;
    }
}

.project-properties > li > h5 {
    width: fit-content;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;

    span {
        color: var(--text-color);
        font-size: 0.95rem;
        font-weight: 300;
    }
}

.project-github {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    a {
        display: inline-flex;
        width: 2.7rem;
        height: 2.7rem;
        background: transparent;
        border: 2px solid var(--primary-color);
        border-radius: 50%;
        font-size: 1.9rem;
        color: var(--primary-color);
        text-decoration: none;
        justify-content: center;
        align-items: center;
        animation: slideBottom 1s ease forwards;
        animation-delay: calc(1.5s + var(--j) * 0.2s);
        opacity: 0
    }
    
    a:hover {
        background-color: var(--primary-color);
        color: var(--text-color);
        box-shadow: 0 0 20px var(--primary-color);
    }
}

@media (max-width: 1024px) { 

    .project-page {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        min-height: 100vh!important;
        gap: 2rem;
    }

    .project-images {
        max-width: 90%!important;
        padding: 0!important;
        gap: 2rem!important;
        margin-bottom: 3rem!important;

        .project-carousel, img {
            max-height: 35vw!important;
        }
    }

    .project-data {
        max-width: 90%!important;
        padding: 0!important;

        h1 {
            margin-top: 2rem;
            text-align: center!important;
            width: 100%;
        }
    }

    .project-tags {
        justify-content: center;
        width: 100%;
    }

    .badge {
        font-size: clamp(0.8rem, 0.3rem + 1vw, 0.9rem)!important;
    }

    .project-properties > li > h5 {
        font-size: clamp(0.9rem, 0.3rem + 1vw, 0.9rem)!important;
    
        span {
            color: var(--text-color);
            font-size: clamp(0.8rem, 0.3rem + 1vw, 0.9rem)!important;
            font-weight: 300;
        }
    }
}