:root {
    --primary-color: #9545E4;
    --secondary-color: #2ecc71;
    --accent-color: #ADBDFF;
    --background-color: #212529;
    --alternate-background: #2E3338;
    --text-color: #F4F4F9;
}

body {
    font-family: "Be Vietnam Pro", sans-serif!important;
    background-color: var(--background-color)!important;
    color: var(--text-color)!important;
  }

/*******************KEYFRAME ANIMATIONS**********************/
@keyframes floatTop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(24px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes floatBottom {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes floatLeft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-12px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes floatRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(12px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideTopCard {
    0% {
        transform: translateY(10rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideBottomCard {
    0% {
        transform: translateY(0);
        border-radius: 2%;
    }
    100% {
        transform: translateY(10rem);
        border-radius: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
