:root {
    --primary-color: #9545E4;
    --secondary-color: #2ecc71;
    --accent-color: #ADBDFF;
    --background-color: #212529;
    --text-color: #F4F4F9;
}

body {
    font-family: "Be Vietnam Pro", sans-serif!important;
    background-color: var(--background-color)!important;
    color: var(--text-color)!important;
  }