/* Default link style */
.navbar {
    min-width: 90%!important;
}

.navbar .navbar-link {
    color: var(--text-color) !important; /* Default color for inactive links */
    text-decoration: none !important;
    transition: .3s;
    animation: slideTop .5S ease forwards;
    animation-delay: calc(.2s * var(--i));
    opacity: 0;
}

.navbar-title {
    margin-top: 0.5rem;
    font-family: "Monoton", sans-serif!important;
    font-weight: 400!important;
    font-style: normal!important;
    font-size: clamp(1.8rem, 1rem + 1.5vw, 2.5rem);
    background-image: linear-gradient(
                    -45deg,
                    #ffb3ba,
                    #c49c6e,
                    #bfbf76,
                    #77b084,
                    #ff7e74,
                    #3b82f6,
                    #c084fc,
                    #db2777,
                    #c084fc,
                    #3b82f6,
                    #ff7e74,
                    #77b084,
                    #bfbf76,
                    #c49c6e,
                    #ffb3ba
                   );
                background-size: 500% 500%;
                animation: gradientAnimation 12s linear infinite;
                background-clip: text;
                color: transparent;
                max-width: 100%;
            }

/* Hovered link */
.navbar .navbar-link:hover {
    color: var(--accent-color) !important; /* Color when hovered */
}

/* Active link */
.navbar .navbar-link.active {
    color: var(--primary-color) !important; /* Color for the active link */
}

/* For the navbar brand (logo) */
.navbar .navbar-logo {
    height: 2.5rem !important;
    animation: slideRight 1s ease forwards;
}

/* Align logo to the left and links to the right */
.navbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.navbar-collapse  {
    justify-content: flex-end !important;
}

.navbar-nav {
    display: flex !important;
    justify-content: flex-end !important;
    gap: 3vw !important; /* Adds spacing between the links */
}

.navbar-toggler {
    border: none !important; /* Remove border */
    background: transparent !important; /* Remove background */
}


/* Small screens */
@media (max-width: 992px) {
    .navbar-collapse {
        justify-content: flex-start !important; /* Aligns links to the left */
    }

    .navbar .navbar-logo {
        height: 2.3rem !important;
        margin: 0 auto;
    }

    .navbar-nav {
        display: flex !important;
        justify-content: flex-start !important;
        gap: 0.3rem !important; /* Adds spacing between the links */
    }

    .navbar-title {
        animation: gradientAnimation 12s linear infinite!important;
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .navbar {
        margin-left: 1rem;
    }
    
    .navbar-collapse {
        justify-content: flex-start !important; /* Aligns links to the left */
    }

    .navbar .navbar-logo {
        height: 2.1rem !important;
        margin: 0 auto;
    }

    .navbar-nav {
        display: flex !important;
        justify-content: flex-start !important;
        gap: 0.3rem !important; /* Adds spacing between the links */
    }
}

